<div class="card" style="width: 18rem;">
    <img src="/public/img/blacklotus.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Black Lotus</h5>
        <p class="card-text">A Black Lotus é famosa por seu preço a um ponto absurdo, sendo talvez uma das poucas cartas que mesmo quem não sabe nada de "Magic" já ouviu falar. Seu valor é tanto que, recentemente, uma delas em perfeito estado de conservação foi leiloada a nada menos do que 87 mil dólares.</p>
        <a href="/decks" class="btn btn-primary">Crie seu deck!</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/public/img/birds.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Birds of Paradise</h5>
        <p class="card-text">Birds of Paradise é o tipo de carta que até hoje pode ser encontrada em vários decks diferentes, principalmente aqueles que não possuem somente uma cor. Isso justamente por ser um card que pode ser usado como uma fonte de mana extra de qualquer tipo – o que ainda ajuda a eliminar as restrições de poder adicionar um único terreno de seu lado do campo por turno, acelerando consideravelmente os decks que invocam monstros mais caros.</p>
        <a href="/decks" class="btn btn-primary">Crie seu deck!</a>
    </div>
</div>